## Instalar a biblioteca do `tidyverse`

Se a biblioteca `tidyverse` e `e1071` não estiverem instaladas, pode ser instalada pelo repositório do CRAN (isto deve ser feito fora do `jupyter`):

```
install.packages("tidyverse")
install.packages("e1071")
```

### Importar a biblioteca do `tidyverse` e do `e1071`

In [1]:
library(tidyverse)
library(e1071)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.2     ✔ dplyr   1.0.0
✔ tidyr   1.1.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### Importando os dados

In [2]:
# Import data
data_mat <- read_csv2('../dados/student-mat.csv',
                 col_types = cols(.default = col_character()))
data_port <- read_csv2('../dados/student-por.csv',
                 col_types = cols(.default = col_character()))

Using ',' as decimal and '.' as grouping mark. Use read_delim() for more control.

Using ',' as decimal and '.' as grouping mark. Use read_delim() for more control.

### Conferindo o número de amostras

In [3]:
# Number os samples
nrow(data_port)
nrow(data_mat)

[1] 649

[1] 395

---
### Verificando os dados

In [4]:
# Show dataset
head(data_port)
head(data_mat)

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ famrel
1 GP     F   18  U       GT3     A       4    4    at_home  teacher  ⋯ 4
2 GP     F   17  U       GT3     T       1    1    at_home  other    ⋯ 5
3 GP     F   15  U       LE3     T       1    1    at_home  other    ⋯ 4
4 GP     F   15  U       GT3     T       4    2    health   services ⋯ 3
5 GP     F   16  U       GT3     T       3    3    other    other    ⋯ 4
6 GP     M   16  U       LE3     T       4    3    services other    ⋯ 5
  freetime goout Dalc Walc health absences G1 G2 G3
1 3        4     1    1    3      4        0  11 11
2 3        3     1    1    3      2        9  11 11
3 3        2     2    3    3      6        12 13 12
4 2        2     1    1    5      0        14 14 14
5 3        2     1    2    5      0        11 13 13
6 4        2     1    2    5      6        12 12 13

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ famrel
1 GP     F   18  U       GT3     A       4    4    at_home  teacher  ⋯ 4
2 GP     F   17  U       GT3     T       1    1    at_home  other    ⋯ 5
3 GP     F   15  U       LE3     T       1    1    at_home  other    ⋯ 4
4 GP     F   15  U       GT3     T       4    2    health   services ⋯ 3
5 GP     F   16  U       GT3     T       3    3    other    other    ⋯ 4
6 GP     M   16  U       LE3     T       4    3    services other    ⋯ 5
  freetime goout Dalc Walc health absences G1 G2 G3
1 3        4     1    1    3      6        5  6  6
2 3        3     1    1    3      4        5  5  6
3 3        2     2    3    3      10       7  8  10
4 2        2     1    1    5      2        15 14 15
5 3        2     1    2    5      4        6  10 10
6 4        2     1    2    5      10       15 15 15

---
### Tabela com estatísticas

#### Português

In [5]:
data_port %>%
    type_convert() %>%
    select(age, absences, G1, G2, G3) %>%
    pivot_longer(everything(), names_to = "Feature", values_to = "Value") %>%
    group_by(Feature) %>%
    summarize(Min = min(Value),
              Max = max(Value),
              Range = max(Value) - min(Value),
              Q1 = quantile(Value, .25),
              Q2 = quantile(Value, .50),
              Q3 = quantile(Value, .75),
              Std = sd(Value),
              Mean = mean(Value),
              Var = var(Value),
              Skew = skewness(Value),
              Kurt = kurtosis(Value))

Parsed with column specification:
cols(
  .default = col_character(),
  age = col_double(),
  Medu = col_double(),
  Fedu = col_double(),
  traveltime = col_double(),
  studytime = col_double(),
  failures = col_double(),
  famrel = col_double(),
  freetime = col_double(),
  goout = col_double(),
  Dalc = col_double(),
  Walc = col_double(),
  health = col_double(),
  absences = col_double(),
  G1 = col_double(),
  G2 = col_double(),
  G3 = col_double()
)

See spec(...) for full column specifications.

`summarise()` ungrouping output (override with `.groups` argument)

  Feature  Min Max Range Q1 Q2 Q3 Std      Mean      Var       Skew
1 absences  0  32  32     0  2  6 4.640759  3.659476 21.536642  2.011362650
2 age      15  22   7    16 17 18 1.218138 16.744222  1.483859  0.414870724
3 G1        0  19  19    10 11 13 2.745265 11.399076  7.536481 -0.002760829
4 G2        0  19  19    10 11 13 2.913639 11.570108  8.489290 -0.358618952
5 G3        0  19  19    10 12 14 3.230656 11.906009 10.437140 -0.908693770
  Kurt
1 5.70053028
2 0.05230014
3 0.01780440
4 1.62616438
5 2.66462641

#### Matemática

In [6]:
data_mat %>%
    type_convert() %>%
    select(age, absences, G1, G2, G3) %>%
    pivot_longer(everything(), names_to = "Feature", values_to = "Value") %>%
    group_by(Feature) %>%
    summarize(Min = min(Value),
              Max = max(Value),
              Range = max(Value) - min(Value),
              Q1 = quantile(Value, .25),
              Q2 = quantile(Value, .50),
              Q3 = quantile(Value, .75),
              Std = sd(Value),
              Mean = mean(Value),
              Var = var(Value),
              Skew = skewness(Value),
              Kurt = kurtosis(Value))

Parsed with column specification:
cols(
  .default = col_character(),
  age = col_double(),
  Medu = col_double(),
  Fedu = col_double(),
  traveltime = col_double(),
  studytime = col_double(),
  failures = col_double(),
  famrel = col_double(),
  freetime = col_double(),
  goout = col_double(),
  Dalc = col_double(),
  Walc = col_double(),
  health = col_double(),
  absences = col_double(),
  G1 = col_double(),
  G2 = col_double(),
  G3 = col_double()
)

See spec(...) for full column specifications.

`summarise()` ungrouping output (override with `.groups` argument)

  Feature  Min Max Range Q1 Q2 Q3 Std      Mean      Var       Skew
1 absences  0  75  75     0  4  8 8.003096  5.708861 64.049541  3.6437406
2 age      15  22   7    16 17 18 1.276043 16.696203  1.628285  0.4627348
3 G1        3  19  16     8 11 13 3.319195 10.908861 11.017053  0.2387889
4 G2        0  19  19     9 11 13 3.761505 10.713924 14.148917 -0.4283726
5 G3        0  20  20     8 11 14 4.581443 10.415190 20.989616 -0.7271171
  Kurt
1 21.30650507
2 -0.03144581
3 -0.71185911
4  0.58640838
5  0.36607243